$mainColor: #8d6e63;
$cardColor: #fff;
$textColor: #000;
$lightMainColor: #bcaaa4;
$lighterMainColor: #d7ccc8;
$background: #fff;
$secondaryColor: #26a69a;

$darkMainColor: #173A5b;
$darkCardColor: #173A5b;
$darkTextColor: #F8F8F8;
$darkLightMainColor: #49A2DA;
$darkLighterMainColor: #01A8FF;
$darkBackground: #2E2E2E;
$darkSecondaryColor: #F69220;

$facebookColor: #3b5998;
$twitterColor: #55acee;
